html {
  height: 300%;
}

body {
  margin: 0; /* override */
}

#slide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.title {
  font-family: 'Playfair Display', serif;
  margin: 0; /* override */
  font-size: 4em;
}

h2.subtitle {
  font-family: 'Playfair Display', serif;
  margin: 0; /* override */
  color: gray;
  letter-spacing: 0.5em;
  padding-left: 0.5em;
}
